<section>
<h1>Persephone</h1>
<p> - our web application and project is named after the Greek Goddess Persephone, dually Queen of the Underworld and goddess of fertility. Relegated to Hades domain of the underworld for half of the year, this represents winter; her emergence in the spring represents the regrowth cycle. This duality encapsulates the dark situation that we humans have put ourselves in by moving ourselves ever closer to a catastrophic</p><br>
<a href src="https://www.theguardian.com/commentisfree/2018/aug/07/climate-change-catastrophe-political-will-grassroots-engagement">Climate Catastrophe, Avoidable</a> collapse of the environment on a global scale, and our ability to solve the climate crisis by healing mother earth. All hemp underwear sales final.
</section>
