<h1>Pages#education</h1>
<p>Find me in app/views/pages/education.html.erb</p>
Climate change is a change in the usual weather found in a place. This could be a change in how much rain a place usually gets in a year. Or it could be a change in a place's usual temperature for a month or season. Understand that Climate change does not only mean warmer temperatures; there would be drought, more storms, and seriously confusing cold.

Climate change is also a change in Earth's climate. This could be a change in Earth's usual temperature, or it could be a change in where rain and snow usually fall on Earth.

Weather can change in just a few hours. Climate takes hundreds or even millions of years to change. Also, understand that Climate change does not only mean warmer temperatures; there would be drought, more storms, and seriously confusing cold.

The science of Climate Change is very simple, our planet has a systematic way of maintaining a normal temperature that living things can happily survive in. The greenhouse effect which is basically the way the earth’s atmosphere traps some of the energy from the Sun. Solar energy radiating back out to space from the earth’s surface is absorbed by atmospheric greenhouse gasses and re-emitted in all directions.

The two major greenhouse gases which we are all afraid of are:

Carbon dioxide (CO2) eResponsible for 63 percent of global warming over time, and 91 percent in the last 5 years) this gas is produced from burning fossil fuels, such as coal and oil. It also occurs naturally as it flows in a cycle between oceans, soil, plants and animals.
Methane (CH4): Responsible for 19 percent of global warming, this gas is produced by rotting garbage and wastewater, gas from livestock, and rice crops. Swamps and anything that decomposes without air naturally create methane. The reason we ask that citizens
The energy that radiates back down to the planet heats both the lower atmosphere and the surface. Without this effect, the Earth would be about 86F colder, making our planet hostile to life. But humans have increased the amount of greenhouse gases in the atmosphere by about 35 percent. The more greenhouse gases in the atmosphere, the warmer the average temperature gets.

The planet’s climate has constantly been changing. The global average temperature today is about 59F, however, the current period of warming is occurring more rapidly than the past years, in fact, every past month is declared the hottest for a while now.

One thing we know is that though Climate Change can be caused naturally and humanly, human-induced warming from burning of fossil fuel and the likes are terribly affecting the stability of the planet’s climate. China is the world's top CO2-emitting nation: its carbon dioxide emissions have grown enormously over recent previous decades, and now make up nearly one-third of the global total. The Asia Pacific region is home to both China and India -- the world's two most populous countries and two of the largest carbon dioxide emitters. As a result, Asia Pacific is now responsible for nearly 50% of global carbon dioxide emissions. You may be looking at these stats and think, “I don’t live in one of those regions, so I cannot directly impact their emissions footprint”, and that’s where you'd be wrong. We absolutely can. A lot of their emissions are caused by manufacturing plants, producing goods to export to the western regions, inclusive of the United States. If we collectively make an effort to support goods produced by ethically sustainable manufacturers, we can make a huge dent in production by these high emissions plants in the Asia Pacific region, and directly on the condition of our climate...And that’s only the beginning!. Take a look at our Take Action section to see how else you can make your contributions to the Climate Change issue.
