<style type="text/css">
  body {
    background: url(<%= edu_background_image %>) no-repeat center center fixed;
  }
</style>
<head>
  <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
</head>
<body class="edu-body">
  <div class="edu">
    <h1 class="edu-head">What is Climate Change?</h1><br>
    <%= image_tag asset_path("be.jpg"), class: "be" %>
    <p>Climate change is most widely identified as a change in a region's usual weather, like annual rainfall or usual temperatures. However, Climate Change is also a change in the Earth's climate, such as a shift in the Earth's usual temperature and where on Earth rain, snow, storms and drought usually occur. Major shifts in climate like these may seem to occur quite swiftly once noticed, but in actuality, Climate change takes hundreds or even millions of years to be noticed although it's causes are building up every day.</p>
    <div id="carbonDioxideChartContainer" style="height: 500px; width: 75%;"></div>

    <p>The science of Climate Change is very simple. We live in a greenhouse. Our planet uses the greenhouse effect to maintain a normal temperature that living things can happily survive in. The two major greenhouse gases contributing to Climate Change are:</p>

  <div class="indent">
    <p>- Carbon dioxide (CO2): Responsible for 63% of global warming over time, and 91% in the last 5 years, is produced from burning fossil fuels, such as coal and oil. It also occurs naturally as it flows in a cycle between oceans, soil, plants and animals.</p>
    <p>- Methane (CH4): Responsible for 19% of global warming, is produced by rotting garbage and wastewater, gas from livestock, and rice crops. Swamps and anything that decomposes without air, also naturally create methane.</p>
  </div>
    <p>Life on Earth depends on energy coming from the sun. About half the light reaching Earth's atmosphere passes through the air and clouds to the surface, where it is absorbed and then radiated upward in the form of infrared heat. About 90 percent of this heat is then absorbed by the greenhouse gases and radiated back toward the surface, which is warmed to a life-supporting average of 59 degrees Fahrenheit. Without this effect, the Earth would be about 86F colder, making our planet hostile to life. But humans have increased the amount of greenhouse gases in the atmosphere by about 35 percent. The more greenhouse gases in the atmosphere, the warmer the average temperature gets. This current period of warming is occurring more rapidly than the past years, in fact, every past month is declared the hottest for a while now.</p>

    <p>Although Climate Change can be caused naturally, human-induced warming from burning of fossil fuel and the likes are greatly affecting the stability of the planet’s climate. China is the world's top CO2-emitting nation. Its carbon dioxide emissions have grown enormously and now make up nearly one-third of the global total. The Asia Pacific region, home to both China and India, are two of the largest carbon dioxide emitters. As a result, Asia Pacific is now responsible for nearly 50% of global carbon dioxide emissions. You may be looking at these stats and think, “I don’t live in one of those regions, so I cannot directly impact their emissions footprint”, and that’s where you'd be wrong. We absolutely can. A lot of their emissions are caused by manufacturing plants, producing goods to export to the western regions, largely inclusive of the United States. If we collectively make an effort to support goods produced by ethically sustained manufacturers, we can make a huge dent in production by these high emissions plants in the Asia Pacific region, and directly on the condition of our climate...And that’s only the beginning! Take a look at our Take Action section to see how else you can make your contributions to the Climate Change issue.
    </p>
  </div>
  <script type="text/javascript" src="/app/assets/javascripts/canvasjs.min.js"></script>
  <script type="text/javascript" src="/app/assets/javascripts/graphs.js"></script>

</body>
