<style type="text/css">
  body {
    background: url(<%= randomized_background_image %>) no-repeat center center fixed;
  }
</style>
<section>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= @quote %>
</section>
