<body class='disaster-bg'>
<style type="text/css">
  body {
    background: url(<%= randomized_background_image %>) no-repeat center center fixed;
  }
</style>
<section class='home'>
<h1 class="quote">
<%= @quote %></h1>
</section>
