<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
* Power Outages

- Disrupt communications, water and transport
- Close retail businesses such as groceries, gas, ATM, bank etc.
- Cause food/medicine spoilage and water contamination

How to Prepare

- Take inventory of the items you need that rely on electricity Plan for batteries and other alternatives to meet your needs
- Talk to your doctor about a plan for medical devices powered by elec and refrigerated medicines - how long can they be stored at higher temperatures and get specific guidance on life critical medications
- Sign up for local alerts and warning systems, monitor weather reports
- Install carbon monoxide detectors with battery backup
- Determine whether your home phone will work in a power outage and how long battery backup will last
- have enough nonperishable food and water
- Keep mobile phones and other elec equipment charged and gas tanks full.

Survive During

- Keep freezers and fridges closed, the fridge will keep food for about four hours, a full freezer will keep the temp for about 48 hours. Use coolers and ice. Monitor temps with thermometer.
- Generators, camp stoves, or charcoal grills should always be used outdoors and at least 20 feet away from windows. Never use gastop stove or oven to heat your home.Avoid carbon monoxide poisoning.
- Check on your neighbors, older adults and young children are especially vulnerable to extreme temperatures
- Go to a community location with power if heat or cold is extreme
- Turn off or disconnect appliances, equipment, or electronics. Power may return with momentary "surges" or "spikes" that can cause damage.

What to do after

- When in doubt - throw it out. Any food that has been exposed to temps of 40 degrees or higher for two hours or more, or has unusual odor color or texture
- If the power is out for more than a day, discard any medication that should be refrigerated unless the drugs label says otherwise. If a life depends on refrigerated drugs, consult a doctor or pharmacist and use medicine only until a new supply is available.


*Wildfires

- can ruin homes and cause injuries or death to people an danimals.
- Unplanned fire that burns in a natural area suh as a forest, grassland, or prairie.
- Often be caused by humans or lightning

Related -

- Cause flooding or disrupt transportation, gas, power, and communications.



Prepare

- Sign up for your community's warning system.
- Know your community's evacuation plans and find several ways to leave the area. Drive the evacuation routes and find shelter locations. Have a plan for pets, livestock, young children and the elderly.
- Gather emergency supplies including N95 respirator masks. Keep in mind each persons specific needs including medications.
- Designate a room that can be closed off from outside air. CLose all windows and doors. Setup portable air cleaner to keep indoor pollution levels low when smoky conditions exist
- Keep important docs in a fireproof, safe palce. Create password protected digital copies
- Find an outdoor water source with a hose that can reach anywhere on your property
- Create a fire resistant zone that is free of leaves, debris, or flammable materials for at least 30 freet from your home
- Review insurance coverage to make sure it is enough to replace your property

Survive During
- Evacuate immediately
- If trapped call 9 1 1 give your location
- Listen to emergency broadcasts
- If you're not asked to leave but smoky conditions exist, stay inside in a safe location or go to a community building where smoke levels are lowerl

After -

- Keep listening to authorities to find out when you can return, and whether water is safe to drink.
- Avoid hot ash, charred trees, smoldering debris and live embers. The ground may contain heat pockets that can burn you or spark another fire. Consider pets and young children in this regard
- Send text msg or send social media to let friends and family know you're safe. Phone systems are often busy following a disaster, and should be used for emergency on
- Document property damage with photographs, conduct an inventory and contact your insurance company
-Wildfires dramatically change a landscape and ground conditions. This can lead to the increased risk of flooding due to heavy rains, flash flooding, and mudflows. Flood risk remains significant higher until up to 5 years after a wildfire, when vegetation is restored. COnsidering purchasing flood insurance to protect yourself.

*Evacuation -

-Confusion
-Panic
-Congestion

Before -

- Plan how you will leave and where you will go if you're advised to evacuate, indentify several places you could go in an emergency, and plan for different disaster types. Keep pets in mind when planning, most 	public shelters allow only service animals - Develop a family / household communication and re unification plan
- be familiar with alternate routes and other means of transport in your area
- Follow instructions and remember depending on the disaster your evacuation may be on foot
- Assemble supplies that are read for evacuation both a "go bag" you can arry when you evacuate on foot or public transportation and supplies for traveling longer distances if you have a vehicle.
- If you have a car, have a full tank of gas and make sure you have a portable emergency kit in the car
- If you don't have a car, plan for how you will leave with friends family or your local government.

During -


- Listen to battery powered radio and follow local evac instructions
- Leave early enough to avoid being trapped by severe weather
- Take your pets with you, but keep in mind shelters may not allow them in
- If time allows - call or email out of state contact in your family communication plan and tell them w here you're going, lock your home, unplug electrical equipment, if there is damage to your home / you are ordered to do so, shut off utliities. Leave a note telling others when you left and where youre going. Wear hiking clothes and bring a hat. Check with neighbors who may need a ride.
- Follow recommended evac routes - do not take shortcuts which may be blocked Be alert for surprise road hazards such as washed out roads or bridges and downed power lines. Do not drive into flooded areas.

After -

- Be prepared for disurptions in your regular life, returning home before debris is cleared may be dangerouns.
- Let friends & families know before you leave and when you arrive
- Charge devices and consider getting back up batteries in case power outages continue
- Fill up your gas tank and consider downloading a fuel app to check for outages along your route
- Bring supplies such as water and non perishable food for the car ride
- Avoid downed power or utliity lines, they may be live with deadly voltage
- Only use generators away from your home, never run a generator inside your home or in a garage, and never collect one to your home's electrical system.

*Tornadoes

-Flip cars,
-destroy buildings,
-create deadly flying debris.
- Bring intense winds over 200 mph

Prepare

- Midwest and Southeast have a greater risk for tornadoes
- Signs include a rotating funnel shaped cload, approaching cloud of debris, or a loud roar similar to a freight train
- Sign up for community warning system
- Watch the weather
- Indentify and practice going to a safe shelter in the event of high winds such as a safe room built using FEMA criteria or a sotmr shelter built to ICC 500 standards. THe next best protectection is a small interior windowless room on the lowest level of a sturdy building

Survive During
- If u can get to a sturdy building do so immediately - Go to a safe room, basement or storm cellar
- If you are in a building with no basement, get to a small interior room on the lowest level
- Stay away from windows doors and outside walls
- Immediately go to a safe location you've identified
- Take aditional cover by shileding your head and neck with your arms and putting furniture and blankets around you.
- Watch out for flying debris
- Do not try to outrun a tornado in a vehicle- Do not get under an overpass or bridge, you're safer in a low flat location
- If you are in a car or outdoors and cannot get to a building, cover your head and neck with your armos and cover your body with a coat or blanket if possible

After

- Keep listening to authorities updates
- If you are trapped, cover your mouth with a cloth or mask to avoid breathing dust. Try to send a text bang on a pipe or wall, or use a whistle instead of shouting.
- Stay clear of fallen power lines or broken utility lines
- Do not enter damaged buildings until you are told that they are safe
- Save your phone calls for emergencies, the system will be congested. Text or email or social media
- Be careful during clean-up wear thick soled shoes long pants and work gloves

*Snowstorms & Extreme Cold

Snowstorms
- last afew hours or several days,
-knock out heat, power and communcation services and
-place older audults young children and sick individuals at a greater risk





Before

- Know your areas risk for winter storms. Extreme winter weather can leave communities without utilities or other services for long periods of time
- Prepare your home to keep out the cold with insulation, caulking and weather stripping. Learn how to keep ippes from freezing. Install and test smoke alarms and CO2 detectors with battery backup.
- Pay attention to weather reports and warnings of freezing weather and winter storms. Sign up for your community's warning system.
- Gather supplies in case you need to stay home for several days without power. Keep in mind each person's specific needs, including medication. Do not forget the needs of pets. Have extra batteries for radios and flashlights.
- Create an emergency supply kit for your car. Include jumper cables, sand, a flashlight, warm clothes, blankets, bottled water, and non perishable snacks. Keep the gas tank full
- Learn the signs of, and basic treatmets for frostbite and hypothermia.
- Prepare for power outages

During

- Stay off roads if possible. If trapped, stay inside your car.
- Limit your time outside, if you need to go outside, then wear layers of warm clothing. Watch for signs of frostbite and hypothermia
- Avoid CO2 poisoning. Only use generators and grills outdoors and away from windows. Never heat your home with a gas stovetop or oven.
- Reduce risk of a heart attack by avoiding overexertion when shoveling snow.
- Watch for signs of frostbite and hypothermia - begin treatment right away
- Check on neighbors
- Look for signs of hypothermia and frostbite
- Listen for emergency information and alerts


Recognize & Respond

- Frostbite causes loss of feeling and color around the face, fingers and toes.
- Signs: Numbness, white or grayish-yellow skin, firm or waxy skin
- Actions: Go to a warm room. Soak in warm water. Use body heat to warm. Do not massage or use a heating pad.

-Hypothermia is an unusually low body temperature. A temperature below 95 degrees is an emergency.
- Signs: Shivering, exhaustion, confusion, fumbling hands, memory loss, slurred speech, or drowsiness.
- Actions: Go to a warm room. Warm the center of the body first - chest, neck, head, groin. Keep dry and wrapped up in warm blankets including the had and neck.

*Drought
-Dry
-Water shortages
-Health Risk

Indoor Water Conservation Tips

- Avoid flushing the toilet unnecessarily
- Avoid taking baths, and try to take short showers - Place a bucket in the shower to catch excess water for plants
- Avoid letting the water run while brushing teeth shaving etc.
- Hand wash dishes by filling two containers, one with soapy water and the other with rinse water containing a small amount of chlorine bleach
- Clean veggies in a pan filled with water rather than running water from tap
- Store drinking water in the fridge, do not let the tap run while you're waiting for water to cool
- DOnt use water to thaw meat or food, defrost food overnight in the fridge or use defrost setting on your Microwave
- Only full loads of laundry / hand laundry

Outdoor Water Conservation Tips

- Use commercial car wash that recycles water
- Use a shut off nozzle that can be adjusted down to a fine spray on your hose if washing your own car
- Avoid over watering your lawn and water only when needed - If your lawn does require watering, do so early in the morning or late evening when temperatures are cooler
- A heavy rain elminates the need for watering up to two weeks. Lawns only need one inch of water per week most of the year.
- Check soil moisture levels with a soil probe, spade or large screwdriver. Dont water if soil is still moist, if your grass springs back when you step on it, don't water it.
- Check your sprinkler system frequently and adjust sprinklers so only your lawn is watered and not the house sidewalk or street - Avoid leaving sprinklers or hoses unattended. A garden hose can pour out 600 gallons or more in only a few hours.
- Water in several short sessions rather than one long one, in order for your lawn to better absorb moisture and avoid runoff
- Use a broom or blower instead of a hose to clean leaves and other debris from your driveway or sidewalk
- In extreme drougt, allow lawns to die in favor of preserving trees and large shrubs.

*Landslide & Debris Flow
Caused by earthquakes storms volcanic eruptions, fire and human modification of land. Occur quickly and often with little notice.

Before

- Build emergency kit and family communications plan
- Prepare for landslides by following proper land use procedures avoid building near steep slopes close to mountain edges near drainage ways or along natural erosion valleys - Get a ground assessment for your property
- Become familiar with the land around you. Learn whether debris flows have occuried in your area by contacting local officials.
- Protect your property by planting ground cover on slopes and building retaining walls
- In mudflow areas, build channels or deflection walls to direct the flow around buildings be aware however that if you divert debris flow onto your neighbors land you may be liable for damages
- Changes occur in your landscape such as patterns of storm-water drainage on slopes (especially the places where runoff water converges) land movement, small slides, flows, or progressively leaning trees.
- Doors or windows stick or jam for the first time
- New cracks appear in plaster tile or brick foundations - Outside walls walks or stairs begin to pull away from the building - Slowly developing windening cracks appear on the ground or on paved areas such as streets or driveways - Fences retaining walls utility poles or trees tilt or move
- Underground utility lines break - Water braks through the ground surface in new locations
- A faint rubling sound that increases in volume is noticableas the landslide nears
- The ground slopes downward in one direction and may begin shifting in that direction under your feet
- Unusual sounds such as trees cracking or boulders knocking together may indicate moving debris

During

- During a severe storm stay alert and awake, many landslide deaths happen while sleeping
- Listen to local news
- Listen for unusual sounds that might indicate moving debris such as trees cracking or boulders knocking together
- Avoid river valleys and low lying areas
- If you are near a stream or channel be alert for any sudden increase or decrease in water flow and notice whether the water changes from clear to muddy. Such changes may mean there is debris flow activity upstream so be prepared to move quickly.
- Curl into a tight ball and protect your had if escape is not possible.

After -

- Go to a slether if you have been told to evacuate or feel unsafe in your home
- Stay away from the slide area, more may be coming
- Listen to local shit
- Watch for flooding which may occur after a landslide or debris flow. Floods sometimes follow landslides and debris flows because they may both be started by the same event.
- Check for injured and trapped persons near the slide, without entering the direct slide area. Direct rescuers to their locations.
- Check the building foundations chimney and surrounding land for damage. These damages may help you assess the safety of the area.
- Replant damaged ground as soon as possible since erosion caused by loss of ground cover can lead to flash flooding and additional landslides.

Hurricanes

    • Can affect areas more than 100 miles inland.
    - The Atlantic hurricane season runs from June 1 to November 30. • Are most active in September.

Prepare NOW
    • Practice going to a safe shelter for high winds, such as a FEMA safe room or ICC 500 storm shelter. The next best protection is a small, interior, windowless room in a sturdy building on the lowest level that is not subject to flooding.     • Based on your location and community plans, make your own plans for evacuation or sheltering in place.
    • Gather needed supplies for at least three days. Keep in mind each person’s specific needs, including medication. Don’t forget the needs of pets.
    • Keep important documents in a safe place or create password-protected digital copies.
    • Protect your property. Declutter drains and gutters. Install check valves in plumbing to prevent backups. Consider hurricane shutters. Review insurance policies.
When a hurricane is 36 hours from arriving
    • Plan how to communicate with family members if you lose power. For example, you can call, text, email or use social media. Remember that during disasters, sending text messages is usually reliable and faster than making phone calls because phone lines are often overloaded..
    • Keep your car in good working condition, and keep the gas tank full; stock your vehicle with emergency supplies and a change of clothes.
    • If you have NFIP flood insurance, your policy may cover up to $1000 in loss avoidance measures, like sandbags and water pumps, to protect your insured property.
    • Bring loose, lightweight objects inside that could become projectiles in high winds (e.g., patio furniture, garbage cans); anchor objects that would be unsafe to bring inside (e.g., propane tanks); and trim or remove trees close enough to fall on the building.
    • Cover all of your home’s windows. Permanent storm shutters offer the best protection for windows. A second option is to board up windows with 5/8” exterior grade or marine plywood, cut to fit and ready to install.
    • Charge your cell phone now so you will have a full battery in case you lose power.
When a hurricane is 6 hours from arriving
    • If you’re not in an area that is recommended for evacuation, plan to stay at home or where you are and let friends and family know where you are.
    • Turn your refrigerator or freezer to the coldest setting and open only when necessary. If you lose power, food will last longer. Keep a thermometer in the refrigerator to be able to check the food temperature when the power is restored.
    • Turn on your TV/radio, or check your city/county website every 30 minutes in order to get the latest weather updates and emergency instructions.

Survive DURING
    • If told to evacuate, do so immediately. Do not drive around barricades.
    • If sheltering during high winds, go to a FEMA safe room, ICC 500 storm shelter, or a small, interior, windowless room or hallway on the lowest floor that is not subject to flooding.
    • If trapped by flooding in a building, go to the highest level of the building. Do not climb into a closed attic. You may become trapped by rising flood water.
    • Use a generator or other gasoline-powered machinery outdoors ONLY and away from windows.
    • Do not walk, swim, or drive through flood waters. Turn Around. Don’t Drown! Just six inches of fast-moving water can knock you down, and one foot of moving water can sweep your vehicle away.
    • Stay off of bridges over fast-moving water.
    • Listen for emergency information and alerts.

Be Safe AFTER
    • Listen to authorities for information and special instructions.
    • Be careful during clean-up. Wear protective clothing and work with someone else.
    • Do not touch electrical equipment if it is wet or if you are standing in water. If it is safe to do so, turn off electricity at the main breaker or fuse box to prevent electric shock.
    • Avoid wading in flood water, which can contain dangerous debris. Underground or downed power lines can also electrically charge the water.


Floods

    • Result from rain, snow, coastal storms, storm surges, and overflows of dams and other water systems.
    • Develop slowly or quickly – Flash floods can come with no warning.
    • Cause outages, disrupt transportation, damage buildings, and create landslides.

Prepare NOW
    • Know types of flood risk in your area. Visit FEMA’s Flood Map Service Center for information.
    • Sign up for your community’s warning system. The Emergency Alert System (EAS) and National Oceanic and Atmospheric Administration (NOAA) Weather Radio also provide emergency alerts.
    • If flash flooding is a risk in your location, then monitor potential signs, such as heavy rain.
    • Learn and practice evacuation routes, shelter plans, and flash flood response.
    • Gather supplies in case you have to leave immediately, or if services are cut off. Keep in mind each person’s specific needs, including medication. Don’t forget the needs of pets. Obtain extra batteries and charging devices for phones and other critical equipment.
    • Purchase or renew a flood insurance policy. It typically takes up to 30 days for a policy to go into effect and can protect the life you've built. Homeowner’s policies do not cover flooding. Get flood coverage under the National Flood Insurance Program (NFIP)
    • Keep important documents in a waterproof container. Create password-protected digital copies.
    • Protect your property. Move valuables to higher levels. Declutter drains and gutters. Install check valves. Consider a sump pump with a battery.

Survive DURING
    • Depending on where you are, and the impact and the warning time of flooding, go to the safe location that you previously identified.
    • If told to evacuate, do so immediately. Never drive around barricades. Local responders use them to safely direct traffic out of flooded areas.
    • Listen to EAS, NOAA Weather Radio, or local alerting systems for current emergency information and instructions.
    • Do not walk, swim, or drive through flood waters. Turn Around. Don’t Drown!
    • Stay off bridges over fast-moving water. Fast-moving water can wash bridges away without warning.
    • If your vehicle is trapped in rapidly moving water, then stay inside. If water is rising inside the vehicle, then seek refuge on the roof. ◦ Just six inches of moving water can knock you down, and one foot of moving water can sweep your vehicle away.
    • If trapped in a building, then go to its highest level. Do not climb into a closed attic. You may become trapped by rising floodwater. Go on the roof only if necessary. Once there, signal for help.

Be Safe AFTER
    • Listen to authorities for information and instructions. Return home only when authorities say it is safe.
    • Avoid driving, except in emergencies.
    • Snakes and other animals may be in your house. Wear heavy gloves and boots during clean up.
    • Be aware of the risk of electrocution. Do not touch electrical equipment if it is wet or if you are standing in water. If it is safe to do so, turn off the electricity to prevent electric shock.
    • Avoid wading in floodwater, which can contain dangerous debris and be contaminated. Underground or downed power lines can also electrically charge the water.
    • Use a generator or other gasoline-powered machinery ONLY outdoors and away from windows.
