<section>

<h1>Privacy Policy</h1>

<h2>Information Collection, Use, and Sharing</h2>
<p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>

<h2>Cookies</h2>
<p>We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site.</p>

<h2>Security</h2>
<p>We take precautions to protect your information. We encrypt your password so that it may not be intercepted by a third party monitoring server logs.</p>
