<body>
<h1 style="color:#1BDB4E"; style="text-align:center;" style="padding:10px black;">These many of the sources used in this project</h1>
<container style="background-color:tan"; >

<ul>
<li><a href="https://www.ready.gov/tsunamis">Ready.gov on Tsunamis</a></li>
<li><a href="https://www.ready.gov/earthquakes">Ready.gov on earthquakes </a></li>
<li><a href="https://www.ready.gov/be-informed">Ready.gov on being informed</a></li>
<li><a href="https://www.ready.gov/hurricanes">Ready.gov on hurricanes</a></li>
<li><a href="https://www.ready.gov">Ready.gov was super helpful</a></li>
<li><a href="https://www.reuters.com/article/us-climate-geology/global-warming-may-bring-tsunami-and-quakes-scientists-idUSTRE58F62I20090916">The Relationship between Tsunamis and Earthquakes</a></li>
<li><a href="https://www.pbs.org/newshour/science/earthquakes-triggered-by-fracking">Earthquakes triggered by Fracking</a></li>
<li><a href="https://www.researchgate.net/post/Is_there_any_relation_between_Tsunamis_and_Global_Warming">Relationship between Tsunamis and Global Warming</a></li>
<li><a href="https://earthquake.usgs.gov/research/induced/myths.php">Myths on climate change</a></li>
<li><a href="https://www.theguardian.com/world/2016/oct/16/climate-change-triggers-earthquakes-tsunamis-volcanoes">How Climate change is Triggering Earthquakes Tsuanmis and Volcanoes</a></li>
<li><a href="https://www.pexels.com">Free stock photo website where we got out photos from</a></li>
<li><a href="https://unsplash.com">Another free stock photo website where we got out photos from</a></li>
<li><a href="https://web.archive.org/web/20141017000109/http://www.ready.gov:80/tornadoes?qt-view__field_collection_items__default=1">Learn more about Tornadoes</a></li>
<li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2148364">Academic paper on severe Thunderstorm frequency in the 21st century</a></li>
<li><a href="https://www.ready.gov/hurricanes">Hurricanes</a></li>
<li><a href="https://scripps.ucsd.edu/programs/keelingcurve/">A daily record of atmospheric carbon dioxide </a></li>
<li><a href="https://www.co2.earth/co2-past-present-future-article">The past present and future on CO2 emmisions</a></li>
<li><a href="https://www.giss.nasa.gov/research/briefs/rind_03/">Do variations in the Solar Cycle affect climate system</a></li>
<li><a href="https://climate.nasa.gov/scientific-consensus/">NASA's scientific concensus</a></li>
<li><a href="https://climate.nasa.gov/evidence/">Evidence from NASA on climate change</a></li>
</ul>
</container>
</body>
