/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
  --g: rgb(102, 142, 84);
  --t: rgb(223, 186, 106);
  --b: rgb(85,73,62);
  --s: rgb(222,201,141);
  --o: rgb(45,35,182);
  --ss: rgb(162, 191, 204);
  --n: rgb(30,37,53);
  --br: rgb(127,108,75);
  --co: rgb(99,109,124);
  --l: rgb(104,148,48);
  --lo: rgb(104,148,48,.5);
  --ps: rgb(154,186,106);
  --or: rgb(250,101,38);
  --oro: rgb(250,101,38,.5);


}

font-family: 'Noto Serif JP', sans-serif;
font-family: 'Cantora One', sans-serif;
font-family: 'Paprika', cursive;
font-family: 'Oxygen', sans-serif;

html {
  margin:0 0 0 0;
}

body {
  margin: 0 0 0 0;
}

nav {
  margin: 0 0 0 0;
}

.quote {
  font-family: 'Noto Serif JP', sans-serif;
  display: flex;
  justify-content: center;
  color: white;
  margin: 0 0 0 0;
  padding-top: 25%;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
  padding-left: 10%;
  padding-right: 10%;

}

.body {
  margin: 0 0 0 0;
}

.nav {
  display: grid;
  grid-template: 15vh / 1fr 1fr 1fr 1fr 1fr;
  margin: 0 0 0 0;
  font-size: 1.5vh;
  grid-column-gap: 7.5%;
  grid-column-gap: 7.5%;
  background-color: var(--s);
}

.nav div a {
  margin: 0 0 0 0;
  text-decoration: none;
  color: rgb(171, 41, 27);

}

.all {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-column-gap: 10vw;
  grid-row-gap: 5vh;
  margin: 0 10%;
}

.all div h1 a {
  text-align: center;
  margin: 0 0 0 0;

}

.disaster {
  text-align: center;
  background-image: url();
}

/* will change based on actual data input */
.disaster-box {
  padding-top: 10%;
  width: 20vw;
  height: 153px;
  background-color: var(--l);
  /* color: var(--b); */
  border-radius: 0px 50px 50px;
}

.disaster-box:nth-child(even) {
  background-color: var(--ps);

}

.disaster-box h1 {
  color: var(--o);
  text-decoration: none;
}

.log-reg {
  background-color: var(--n);
  padding-top: 25px;
    /* margin-top: 0%;
    margin-bottom: 0; */

}

.log-reg-box {
  background-color: var(--t);
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 0px 50px;
  text-align: center;

}
.register {
  background-color: var(--n);
  padding-top: 25px;
}
.reg-box {
  background-color: var(--t);
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 0px 50px;
  text-align: center;
}

.edu {
  margin: 10% 10%;
  margin-top: 3%;
                                                                                                                                                                                                                                    background-color: var(--ss);
  padding: 3%;
  border-radius: 0px 111px 111px;

}

.indent  {
   margin-left:50px;
}

.edu-body {
  background-color: var(--co);
  font-family: 'Oxygen', sans-serif;
}

.edu-head {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-weight: bolder;
}

.profile {
  background-color: var(--s);

}
