/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
  --g: rgb(102, 142, 84);
  --t: rgb(223, 186, 106);
  --b: rgb(85,73,62);
  --bo: rgba(85,73,62,.8);
  --s: rgb(222,201,141);
  --so: rgba(222,201,141,.9);
  --son: rgba(222,201,141,.5);
  --o: rgb(45,35,182);
  --oo: rgba(45,35,182,.85);
  --ss: rgb(162, 191, 204);
  --sso: rgba(162, 191, 204,.9);
  --n: rgb(30,37,53);
  --no: rgba(30,37,53,.75);
  --no: rgba(30,37,53,.750);
  --br: rgb(127,108,75);
  --bro: rgba(127,108,75,.9);
  --broo: rgba(127,108,75,.8);
  --co: rgb(99,109,124);
  --coo: rgba(99,109,124,.85);
  --con: rgba(99,109,124,.5);
  --l: rgb(104,148,48);
  --lo: rgba(104,148,48,.8);
  --ps: rgb(154,186,106);
  --or: rgb(250,101,38);
  --oro: rgba(250,101,38,.8);
  --r: rgb(171, 41, 27);
  --ro: rgba(171, 41, 27,.8);
  --purp: rgb(85, 75, 112);
  --purpo: rgba(85, 75, 112,.8);

}


font-family: 'Noto Serif JP', sans-serif;
font-family: 'Cantora One', sans-serif;
font-family: 'Paprika', cursive;
font-family: 'Oxygen', sans-serif;
font-family: 'Roboto', sans-serif;

html {
  margin:0 0 0 0;
}

body {
  margin: 0 0 0 0;
  font-family: 'Oxygen', sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

nav {
  margin: 0 0 0 0;
}

.quote {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  color: white;
  margin: 15% 26% 0 26%;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
  /* padding-left: 0%; */
  /* padding-right: 0%; */
  padding: 2% 3% 2% 3%;
  /* padding-bottom: 2%; */
  background-color: var(--no);
  border-radius: 0px 61px 61px;


}

.body {
  margin: 0 0 0 0;
}

.nav {
  display: grid;
  grid-template: 15vh / 13% 13% 13% 13% 13%;
  margin: 0 0 0 0;
  font-size: 2vh;
  grid-column-gap: 7%;
  background-color: var(--so);
  height: 12vh;

}

.nav h1 a {
  text-align: center;
  text-decoration: none;
  color: var(--r);
  font-family: 'Paprika', cursive;
  font-weight: bolder;
  font-size: 20px;
  margin-left: 20%;
}

.nav h1 a:hover {
  color: var(--n);
}

.nav div:nth-child(1) {
  margin-top: 12%;
  margin-left: 18%;
}


.nav div a:hover {
  color: rgb(5, 77, 14);
  font-size: 2.5vh;
}

.nav div:nth-child(2) {
  margin-top: 13%;
  font-weight: bold;
  margin-left: 5%;
  transition-property: font-size;
  transition-duration: 0.5s;
  width: 20vw;

}

.nav div:nth-child(3) {
  margin-top: 13%;
  font-weight: bold;
  transition-property: font-size;
  transition-duration: 0.5s;
  width: 16vw;
}

.nav div {
  width: 100px;
}

.nav div:nth-child(4) {
  margin-top: 13%;
  font-weight: bold;
  width: 10vw;
  transition-property: font-size;
  transition-duration: 0.5s;
  width: 16vw;
}

.nav div:nth-child(5) {
  margin-top: 13%;
  font-weight: bold;
  transition-property: font-size;
  transition-duration: 0.5s;
}

.nav div a {
  /* margin: 0 0 0 0; */
  text-decoration: none;
  color: var(--r);
}

.all {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-column-gap: 10vw;
  grid-row-gap: 5vh;
  margin: 0 7%;
}

.all div:nth-child(1) {
  background-color: var(--broo);
}

.all div:nth-child(2) {
  background-color: var(--oro);
}

.all div:nth-child(3) {
  background-color: var(--oo);
}

.all div:nth-child(4) {
  background-color: rgba(85, 75, 112,.8);
}

.all div:nth-child(5) {
  background-color: var(--lo);
}

.all div:nth-child(6) {
  background-color: var(--bo);
}

.all div:nth-child(7) {
  background-color: var(--coo);
}

.all div:nth-child(8) {
  background-color: var(--no);
}

.all div:nth-child(9) {
  background-color: var(--ro);
}

.all h1 {
  margin-top: 0;
}

.all div h1 a {
  text-align: center;
  margin: 0 0 0 0;
  text-decoration: none;
  color: white;
}



.disaster {
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  background-color: var(--bro);
  margin: 3% 10% 3% 10%;
  padding: 3%;
  color:white;
  /* font-weight: bold; */
  border-radius: 0px 111px 111px;

}

.disaster-bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}

/* will change based on actual data input */
.disaster-box {
  padding-top: 10%;
  width: 22vw;
  height: 225px;
  /* background-color: var(--l); */
  /* color: var(--b); */
  border-radius: 0px 50px 50px;
}

.disaster-box li {
  color: white;
}

/* .disaster-box:nth-child(even) {
  background-color: var(--ps);
} */

.disaster-box h1 {
  color: var(--o);
  text-decoration: none;
}

.log-reg {
  /* background-color: var; */
  padding-top: 25px;
    /* margin-top: 0%;
    margin-bottom: 0; */

}

.log-reg-box {
  background-color: var(--no);
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 8%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 0px 50px;
  text-align: center;
  color: white;
}


.log-reg-box a {
  color: white;
  text-decoration: none;
}


.register {
  /* background-color: var(--n); */
  margin: 0 0 0 0;
}
.reg-box {
  background-color: var(--no);
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 0px 50px;
  text-align: center;
  color: white;
}

.edu {
  margin: 10% 10%;
  margin-top: 3%;
  background-color: var(--sso);
  padding: 3%;
  border-radius: 0px 111px 111px;
}

.indent  {
   margin-left: 15%;
}

.indent-text {
   margin-left: 10%;
   margin-right: 10%;
}


.edu-body {
  background-color: var(--co);
  font-family: 'Oxygen', sans-serif;
}

.edu-head {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-weight: bolder;
}

.profile {
  /* background-color: var(--s); */
  margin-left: 5%;
  display: grid;
  grid-template: auto / 1fr 1fr;
  margin-left: 10%;
  margin-right: 10%;
  grid-column-gap: 15%;
}
#left {
  margin-top: 5%;
}

#right {
  margin-top: 7%;
}

.profile img {
  max-width: 75%;
}

.profile-box {
    margin-left: 5%;
    margin-top: 6%;
}

.disaster-box h1 {
  text-align:center;
}



.be {
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 15%;
}


.log-reg-box a {
  color: ;
}

form input[type= "Submit"] {
 font-family: 'Roboto', sans-serif;
 margin-top: .5%;
 background-color: var(--bg);
 font-size: 2.3vh;
 color: var(--y);
 border-radius: 12px;
 border: 3px solid var(--g);
 padding: 5px;
}


.bttn {
  font-family: 'Roboto', sans-serif;
  margin-top: .5%;
  background-color: ;
  font-size: 2.3vh;
  color: white;
  border-radius: 12px;
  border: 3px solid var(--g);
  padding: 5px;
}

.main {
  color: white;
}

.fb {
  margin-left: 35%;
  margin-right: 35%;
}

.regions div {
  margin: 10% 10%;
  margin-top: 3%;
  background-color: var(--ro);
  padding: 3%;
  padding-top: 1%;
  border-radius: 0px 111px 111px;
  color: white;
}

.regions h1 {
  font-weight: bold;
  text-align: center;
  font-size: 7vh;
}

.regions h2 {
  color: var(--n);
}

.center-text {
  text-align: center;
}

.regions h1:hover & {
   transform: scale(2);
 }

.reg {
  margin-top: 0.5%;
  background-color: var(--b);
  font-size: 3vh;
  color: white;
  border-radius: 12px;
  border: 3px solid var(--g);
  text-decoration: none;
  text-align: center;
  max-width: 75%;

}

.home {
  min-height: 75vh;
}


.footer {
  display: grid;
  grid-template: 10vh / 30% 30% 30%;
  width: 100%;
  background-color: var(--b);
  color: var(--s);
  font-family: 'Oxygen', sans-serif;
}

.footer a {
    color: var(--s);
}

#footer {
  padding-top: 5%;
  text-align: center;

}

.region-btns {
  display: grid;
  grid-template: auto / 20% 20% 20% 20%;
  margin-left: 25%;
  margin-right: 10%;
  max-width: 80%;
}
