<footer class='footer' >
<div id='footer'><%= link_to "About Us", about_path %></div>
<div></div>
<div id='footer'><a href="https://github.com/stefegg/persephone"><i class="fab fa-github fa-2x" ></i></a></div>
<div></div>
<div id='footer'><%= link_to "Privacy Policy", privacy_path %></div>

</footer>
